:root {
    --primary-color: #4e0e8d;
    --secondary-color: #333;
    --primary-fz: 18px;
    --secondary-fz: 32px;
    --font-family: Lato;
    --font-weight: 600;
    --text-color: #445166;
    --secondary-font-family: 'Oswald', sans-serif;
    --third-font-family: 'Playfair Display', serif;
}