.navbar-brand img {
    height: 80px;
    width: 150px;
}
.home a {
    text-decoration: none;
    color: var(--text-color);
}
.home a:hover {
    text-decoration: underline;
}
header {
    border-bottom: 1px solid #ddd;
}
#menu li a {
    font-size: var(--primary-fz);
    color: var(--primary-color);
}
ul li i {
    color: var(--primary-color);
    font-size: var(--primary-fz);
}
#menu {
    color: var(--primary-color);
}
#menu .nav-item:hover {
    color: var(--primary-color);
  }
#menu .nav-item {
    position: relative;
}
#menu .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
}
#menu .nav-item:hover::after {
    width: 100%;
}
.modal-body {
    font-size: 18px;
}